<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edavinci.wear.gregapp">
    <uses-sdk android:minSdkVersion="23" />
    <uses-feature android:required="true" android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:windowSoftInputMode="stateVisible"
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--activity
            android:name=".DavinciReminders"
            android:label="CoolDavinviReminders">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
        <activity
            android:name=".activities.ReminderCardExtendedDisplay"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity>
        <activity
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name=".activities.GridActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity>
        <activity
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name=".activities.EditMessage"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity>

        <!--activity
            android:name=".activities.ListViewActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity-->


        <receiver
            android:name=".ReminderCardReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.edavinci.wear.gregapp.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.infiniti.touchone.touchone.KeyboardTextReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="appfour.intent.action.UPDATE_INPUT" />
            </intent-filter>
        </receiver>
        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>
        <!--activity
            android:name=".activities.DemoKeyboardActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="appfour.intent.action.REQUEST_INPUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-->
    </application>

</manifest>